body {
background-image: url('../contenido/fondo2.jpg');
  background-size: cover;
  font-family: Arial;
  color: white;
  padding: 40px;
}


/* contenedor para que el contenido se vea claro */
div, section {
  background-color: rgba(0, 0, 0, 0.6); /* fondo semitransparente */
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
/* títulos */
h1, h2 {
  color: #0d83b9;
  margin-bottom: 10px;
}

/* párrafos */
p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* listas */
ul, ol {
  margin-left: 20px;
  margin-bottom: 20px;
}

/* Enlaces */
a {
  color: #0004ff;
  text-decoration: underline;
}

/* imagenes */
img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  border: 2px solid #ffffff;
  border-radius: 8px;
}

/* formularios */
form {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border: none;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #00ccff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

input[type="submit"]:hover {
  background-color: #0099cc;
}


